[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
certifi = "==2022.12.7"
chardet = "==3.0.4"
click = "==7.0"
idna = "==2.8"
requests = "==2.22.0"
urllib3 = "==1.25.8"
Pillow = "==7.0.0"
flake8 = "*"
flake8-docstrings = "*"
flake8-import-order = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
